<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="userSettings"
                      type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VinEcoAllocatingRemake.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VinEcoAllocatingRemake.Properties.Settings>
            <setting name="Height" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="LastPage" serializeAs="String">
                <value>Pages/Home.xaml</value>
            </setting>
            <setting name="North_North" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="South_South" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mid_North" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Mid_South" serializeAs="String">
                <value>0</value>
            </setting>
        </VinEcoAllocatingRemake.Properties.Settings>
    </userSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation"
                                  publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

</configuration>